/******************************************************************************/
/* Top Level */
/******************************************************************************/


.army {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/******************************************************************************/
/* Minion Icon */
/******************************************************************************/


.army > .sprite {
  background-color: burlywood;
}


.army > .sprite > img {
  width: 64px;
  height: 64px;
}


/******************************************************************************/
/* Stat Labels */
/******************************************************************************/


.army > span {
  background-color: pink;
}


/******************************************************************************/
/* Unused */
/******************************************************************************/

/*
.army > img {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
}
*/
