/******************************************************************************/
/* Top Level */
/******************************************************************************/


.army {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: orchid;
  padding: 4px;
  outline: 2px solid black;
  border-radius: 4px;
}

.army.focus {
  background-color: salmon;
}

.army.highlight {
  background-color: darkkhaki;
}


/******************************************************************************/
/* Minion Icon */
/******************************************************************************/


.army > .sprite {
  background-color: burlywood;
}


.army > .sprite > img {
  width: 64px;
  height: 64px;
}


/******************************************************************************/
/* Stat Labels */
/******************************************************************************/


.army > .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.army > .stats > span {
  font-weight: bold;
  padding-left: 0.25em;
}


.army > .indicators {
  min-height: 24px;
  width: 24px;
  background-color: orange;
}


/******************************************************************************/
/* Unused */
/******************************************************************************/

/*
.army > img {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
}
*/
