/*
.battlefield {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2px;
  grid-auto-rows: minmax(64px, auto);
  background-color: #dedede;

}
*/

/******************************************************************************/
/* Top Level */
/******************************************************************************/


.battlefield {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: burlywood;
}


.battlefield > .score-meter {
  flex: 0 0 auto;
  width: 16px;
  height: 100%;
  background-image: linear-gradient(firebrick 0 40%, dodgerblue 60% 100%);
  margin-left: 8px;
  margin-right: 8px;
  color: ivory;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.battlefield > .indicators {
  flex: 0 0 auto;
  width: 32px;
}


/******************************************************************************/
/* Minion Arena */
/******************************************************************************/


.battlefield > .arena {
  flex: 1;
  min-height: 400px;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.battlefield > .arena > .column {
  flex: 0 0 auto;
  min-width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aqua;
  padding: 1rem 0;
}


.battlefield > .arena > .column > .army-score {
  flex: 0 0 auto;
  min-width: 0;
  font-weight: bold;
  border-radius: 4px;
  background-color: goldenrod;
  margin: 0 auto;
  padding: 0.25em 1em;
}
