/******************************************************************************/
/* Top Level */
/******************************************************************************/

.score-meter {
  flex: 0 0 auto;
  width: 16px;
  height: 100%;
  background-image: linear-gradient(firebrick 0 40%, dodgerblue 60% 100%);
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #333333;
}

.score-meter.score-0-7 {
  background-image: linear-gradient(firebrick 0 70%, dodgerblue 90% 100%);
}

.score-meter.score-1-7 {
  background-image: linear-gradient(firebrick 0 60%, dodgerblue 80% 100%);
}

.score-meter.score-2-7 {
  background-image: linear-gradient(firebrick 0 50%, dodgerblue 70% 100%);
}

.score-meter.score-4-7 {
  background-image: linear-gradient(firebrick 0 30%, dodgerblue 50% 100%);
}

.score-meter.score-5-7 {
  background-image: linear-gradient(firebrick 0 20%, dodgerblue 40% 100%);
}

.score-meter.score-6-7 {
  background-image: linear-gradient(firebrick 0 10%, dodgerblue 30% 100%);
}


/******************************************************************************/
/* Icons */
/******************************************************************************/


.score-meter > .marker {
  width: 8px;
  height: 8px;
  position: relative;
  background-color: white;
}


.score-meter > .marker > img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -12px;
  left: -12px;
}

