#root {
  height: 640px;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.main-action-container {
  width: 100%;
  min-height: 180px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em 1em 0 1em;
  background-color: cadetblue;
  gap: 8px;
  transition: all 0.25s;
}
