#root {
  height: 640px;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-action-container {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  place-content: center;
}
